@import "./src/assets/scss/variables";
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $color-white;
  color: $color-white;
  box-shadow: 9999px 0 0 -5px $color-white;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $color-white;
  color: $color-white;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $color-white;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $color-white;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $color-white;
  }
  30% {
    box-shadow: 9984px 0 0 2px $color-white;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $color-white;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $color-white;
  }
  30% {
    box-shadow: 9999px 0 0 2px $color-white;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $color-white;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $color-white;
  }
  30% {
    box-shadow: 10014px 0 0 2px $color-white;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $color-white;
  }
}
