@import "./src/assets/scss/variables";

.footer {
  position: fixed;
  height: 100%;
  background: white;
  color: black;
  padding: 2.2rem 8rem;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

@media screen and (max-width: $max-width-sm) {
  .footer {
    padding: 1rem;
  }
}